<div id="messages" ng-controller="ReplyController as cltr">
    <div class="col-sm-4" ng-repeat="reply in replies">
        <div class="well">
            <b> Message: </b>{{ reply.reply }} <br/>
            <b> Keywords: </b> <div ng-repeat="keyword in reply.keywords"> <span class="label label-default"> {{ keyword.keyword }} </span> </div>
            <hr>
            <button class="btn btn-primary"> Details </button>
            <button class="btn btn-danger"> Delete </button>
        </div>
    </div>
</div>